# generic files to ignore
.*

# python temp paths
__pycache__/
*.py[cod]

# editors
*~
*.swp
*.swo
*#

# QtCreator
CMakeLists.txt.user

# ms-windows
Thumbs.db
ehthumbs.db
Desktop.ini

# commonly used paths in blender
/blender.bin
/user-config.py

# local patches
/*.patch
/*.diff

.gitignore
Roman_Pogribnyi/
Roman_Pogribnyi.tar.gz
Archive.zip
Roman_Pogribnyi 2/
make_diffs.txt
series
